
/* hero */
.fade-in-image { animation: fadeIn 5s; 
  animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .hero-image {
      background-image: url('https://bnz06pap004files.storage.live.com/y4mCxy_cj53PvioYNSuETk2cfRAuLXUU9rzSp5ctf-fr0WYCbs2AWSLCZOi-KoZuiDVN90RrN24bUOPv3ldstVDHh7yoZtqRkLWCAT2PDp7xGWCtuhW43l6USQp7aUm1DTRIam5-EgHc-mMNehO9I6NvXfUIpcch2UeYaUOoAy2u9SNE2G5gLPbyaMqXSeKb1vuSpGObA3PY9nANlW7CtygaQ?encodeFailures=1&width=1314&height=876');
      background-size: cover;
      height: 100vh;
      width: 160vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 100px;
    }
    
    .hero-text {
      text-align: center;
      color: white;
    }
    
    .hero-text h1 {
      font-size: 4rem;
      margin-bottom: 30rem;
    }
    
    .hero-text p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    
    .btn-primary {
      position: relative;
      top: 20px;
      font-size: 1.5rem;
      padding: .5rem 1rem;
      border-radius: 1rem;
      background-color: black;
      border-color: black;
      color: white;
    } 
   
    .btn-hero{
      margin-top: 70px;
    }
    /*about*/
    .about-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* set the height of the container to 100% */
      padding-top: 50px; 
      padding-bottom: 50px;
    }
    
    .about-section img {
      margin-bottom: 20px; 
    }
    
    .about-section h2 {
      padding-top: 20px; 
    }
    
    .about-section p {
      padding-top: 30px; 
    }
    /*gallery*/
    .gallery-card{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
  
    }
   
  /*features*/
  .container py-4{
    padding-top: 70px; 
      padding-bottom: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .card {
    
      position: relative;
      overflow: hidden;
      background: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transition: all 0.3s ease;
      height: 300px;
      width: 300px
    }
    
    .card:hover {
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
      transform: translateY(-0.25rem);
    }
    
    .card-img-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 1rem;
      transition: all 0.3s ease;
      opacity: 0;
    }
    
    .card:hover .card-img-overlay {
      opacity: 1;
      transform: translateY(0);
    }
  /*contact*/
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
  }
  
  .footer {
    width:100%;
    padding-left: 10px;
    padding-top: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    background-color:#EFEEEE}
    .copyright{font-size: small;
        text-align: center;
    padding-bottom: 20px;}
    .social_media
    {display: flex;
        width: 200px;
        justify-content: space-around;
        margin: auto;}
    table {display: flex;
    justify-content: space-around;
    align-items: flex-start;
    }
    th {font-size: small;
        font-weight: 700;
        padding-left: 50px;
        padding-right: 50px;
    align-items: flex-start;}
    td {
        font-size: smaller;
        padding-left: 50px;
        padding-right: 50px;
        align-items:start;
    }
  


 .buy-now{
  border-radius: 2px;
  color:white;
  border: none;
  background-color: rgb(99, 179, 104);
  transition: 0.3s;
  
}
 .buy-now:hover{
  background-color: rgb(59, 107, 62);
  
}