.container1, .container2 {
    padding-left: 70px;
    padding-right: 70px;
}
.container1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    text-overflow: wrap;
   
}
.col-6 {
    position: 
}
#button {
    padding-left: 17px;

}
.j.description  {
    text-align: center;

}

.container2 {
    margin-bottom: 20px;
    padding-bottom: 50px;
    text-overflow: wrap;
}

        .footer {
        width:100%;
        padding-left: 10px;
        padding-top: 20px;    
        font-family: Arial, Helvetica, sans-serif;
        background-color:#D3D3D3}
        .copyright{text-align: center;
        padding-bottom: 20px;}
        .social_media
        {display: flex;
            width: 200px;
            justify-content: space-around;
            margin: auto;}
