
*{
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    align-items: center;
    text-align: center;
    
}

.bag:hover:{
    opacity: 0.8;
    color: rgb(83, 156, 88);
  }

.return {
    padding-right: 10px;
}

.container1, .container2, .extra {
    padding-left: 70px;
    padding-right: 70px;
}
.container1, .j.description {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    text-overflow: wrap;
   
}

.wishlist {
    text-decoration: none;
    color: black
}


.container2 {

    padding-bottom: 50px;
    text-overflow: wrap;
}

#button {
    border-radius: 7px;
    background-color:rgb(83, 156, 88);
    border: none;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.extra {
    background-color: rgb(83, 156, 88);
    color:white;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: wrap;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
 
    align-items: center;
    
}

        .footer {
        width:100%;
        padding-left: 10px;
        padding-top: 20px;    
        font-family: Arial, Helvetica, sans-serif;
        background-color:#D3D3D3}
        .copyright{text-align: center;
        padding-bottom: 20px;}
        .social_media
        {display: flex;
            width: 200px;
            justify-content: space-around;
            margin: auto;}
