body{
  font-family: Arial, Helvetica, sans-serif;
}

.col-2 h5 {
  font-family: roboto-medium, arial;
  font-size: 1em;
}

.col-2 a {
  font-family: roboto-thin, arial;
  color: #aeadad;  ;
  text-decoration: none;
  font-size: 0.9em;
}

.col-2 a:hover{
  text-decoration: underline;
  color:#f15e5e
}

@media screen and (max-width: 500px) {
  .side-panel {
    position: absolute;
    display: none;
  }
}


.flexnav .dropdown-menu.show {
  min-width: 100%;
}

@media screen and (max-width: 500px) {
  .flexnav .size  {
    position: absolute;
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .flexnav .pattern  {
    position: absolute;
    display: none;
  }
}

.card img{
  transition: 0.3s;
}
.card img:hover{ position: relative; 
  top: -7px;
     } 

.card .card-desc{
  font-family: roboto-thin Arial, Helvetica, sans-serif;
  color: #aeadad;  
  font-size: 1em;
}

.card .price{
  color:black;
}

.card .buy-now{
  border-radius: 2px;
  color:white;
  border: none;
  background-color: rgb(99, 179, 104);
  transition: 0.3s;
}
.card .buy-now:hover{
  opacity: 0.8;
}
.footer {
  width:100%;
  padding-left: 10px;
  padding-top: 20px;    
  font-family: Arial, Helvetica, sans-serif;
  background-color:#EFEEEE}
  .copyright{font-size: small;
      text-align: center;
  padding-bottom: 20px;}
  .social_media
  {display: flex;
      width: 200px;
      justify-content: space-around;
      margin: auto;}
  table {display: flex;
  justify-content: space-around;
  align-items: flex-start;
  }
  th {font-size: small;
      font-weight: 700;
      padding-left: 50px;
      padding-right: 50px;
  align-items: flex-start;}
  td {
      font-size: smaller;
      padding-left: 50px;
      padding-right: 50px;
      align-items:start;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  }