.footer {
    width:100%;
    padding-left: 10px;
    padding-top: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    background-color:#EFEEEE;
}
.copyright {
    font-size: small;
    text-align: center;
    padding-bottom: 20px;
}
.social_media {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: auto;
}
.table { 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.th { 
    font-size: small;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
}
.td {
    font-size: smaller;
    padding-left: 50px;
    padding-right: 50px;
    align-items:start;
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    